@import "./common/var.scss";
@import "./mixins/mixin.scss";

@font-face {
  font-family: "muffin-iconfont"; /* Project id 4341922 */
  src: url('./fonts/iconfont.woff2') format('woff2'),
       url('./fonts/iconfont.woff') format('woff'),
       url('./fonts/iconfont.ttf') format('truetype');
}

//用一个方法不需要同时设置两个类
[class^='#{$namespace}-icon-'] {
  font-family: "muffin-iconfont" !important;
  font-size: 26px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.muffin-icon-right:before {
  content: "\eb03";
}

.muffin-icon-up:before {
  content: "\eb04";
}

.muffin-icon-left:before {
  content: "\eb05";
}

.muffin-icon-down:before {
  content: "\eb06";
}

.muffin-icon-doubleup:before {
  content: "\eb0a";
}

.muffin-icon-doubledown:before {
  content: "\eb0b";
}

.muffin-icon-change:before {
  content: "\eb0d";
}

.muffin-icon-doubleleft:before {
  content: "\eb0f";
}

.muffin-icon-jiazai:before {
  content: "\e629";
}

.muffin-icon-jiazai1:before {
  content: "\e668";
}

.muffin-icon-jiazai2:before {
  content: "\e603";
}

.muffin-icon-jiazai3:before {
  content: "\e60f";
}

.muffin-icon-muffin_F:before {
  content: "\e60b";
}
.muffin-icon-jiantouzuo:before {
  content: "\e628";
}

.muffin-icon-jiantouyou:before {
  content: "\e62a";
}