@import "./common/var.scss";
@import "./mixins/mixin.scss";

@include b(message){
  position: fixed;
  top:20px;
  left:50%;
  transform: translate(-50%);
  min-width: 300px;
  height: 40px;
  line-height:40px;
  transition: all 0.4s,to;
  display: flex;
  border-radius: 5px;
  @include m(success){
    background: $--color-success;
  }
  @include m(info){
    background: $--color-info;
  }
  @include when(center){
    justify-content: center;
  }
}

//动画效果
.muffin-message-fade-enter-from,.muffin-message-fade-leave-to {
  transform: translate(-50%,-100%);
}