//  公共的变量
@import "../mixins//config.scss";

$--color-primary: #409eFF;
$--color-white: #ffffff;
$--color-black: #000000;
$--color-success: #67c23a;
$--color-warining:#e6a23c;
$--color-danger: #f56c6c;
$--color-info: #909399;
$--color-muffin: #f79ab7;
$--color-nuts: #a15642;
