// 通用方法

@import "../common/var.scss";

// BEM
// .x-button{}
@mixin b($block) { //button
  $B: $namespace + $common-separator + $block;// x-button

  .#{$B} {//.x-button
    @content;
  }
}
// .x-button.is-xxx
@mixin when($state) {
  @at-root {//根 .x-button
    &.#{$state-prefix + $state} {// is-state
      @content;
    }
  }
}

@mixin m($modifier) {
  @at-root {
    #{&+$modifier-separator+$modifier} {
      @content;
    }
  }
}


@mixin e($element) {
  @at-root {
    #{&+$element-separator+$element} {
      @content;
    }
  }
}

//处理 plain
@mixin plain($background, $border-color) {
  @at-root {
    &.is-plain {
      box-shadow: unset;
      &:hover,
      &:focus {
        background: $background;
        border-color: $border-color;
        color: $border-color;
      }
    }
  }
}
//处理button--type
@mixin  button-type($color, $active-color,$background-color) {
  color: $color;
  background-color: $background-color;
  border-color: $background-color;
  //   box-shadow: inset 3px 6px 10px #337ecc, inset -3px -7px 10px #4dbeff;
  &:hover,
  &:focus {
    background: $active-color;
    background-color: $active-color;
    color: $color;
  }
}